<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>csdn代下|知网代下|textnow账户批发|免费下载网站|24h自动发货网站</title>
    <meta name="description" content="免费csdn代下,csdn免费下载,免费知网代下,知网免费下载,免费textnow账户,账户批发">
    <meta name="keywords" content="csdn代下,知网代下,textnow账户,账户批发" >
    <link rel="icon" href="{{url_for('static',filename='images/favicon2.png')}}">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    <!--vue 进度条-->
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/view-design/dist/styles/iview.css">
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="http://unpkg.com/view-design/dist/iview.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入组件库 消息提升 -->

</head>
<style>
    .demo-spin-icon-load{
        animation: ani-demo-spin 1s linear infinite;
    }
</style>



<body>




    <!--<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>-->
    <script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>

    <!--::header part start::-->
    <header class="header_area">
        
        <div class="sub_header">
            <div class="container">
                <div class="row align-items-center">
                  <div class="col-md-4 col-xl-6">
                      <div id="logo">
                       <a href="#" rel="home"></a><br>
                       
                      </div>
                  </div>
                  <marquee behavior="scroll" direction="left" scrollamount="10">Testnow批发&nbsp; CSDN代下 &nbsp; CINK代下 &nbsp;联系QQ632000785 &nbsp; </marquee>
                  <div class="col-md-8 col-xl-6">
                      <div class="sub_header_social_icon float-right">
                        <!--<a href="#"><i class="flaticon-phone"></i></a>
                        
                        <button onclick="window.open('tencent://message/?uin=632000785')" target="_blank">QQ632000785</button>
                        <a href="#" class="register_icon"><i class="ti-arrow-right"></i>REGISTER</a>
                        -->
                      </div>
                    </div>
                </div>
                <marquee behavior="scroll" direction="right" scrollamount="10">Testnow批发 &nbsp; CSDN代下 &nbsp; CINK代下 &nbsp;联系QQ632000785 &nbsp; </marquee>
            </div>
        </div>
        <div class="main_menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link active" href="https://www.somanyinfo.com/">Home</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Download
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="Testnow">Testnow</a>
                                            <a class="dropdown-item" href="csdn">Csdn</a>
                                            <a class="dropdown-item" href="cnki">cink</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Pages
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="elements.html">Elements</a>
                                            <a class="dropdown-item" href="single-blog.html">Single blog</a>
                                        </div>
                                    </li>

                                </ul>
                                
                            </div>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->
    <!--中间图片部分-->
    <!--::breadcrumb part start::-->
    
 <!--
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                        
                            <h1>Our Blog</h1>
                            <p>Home<span>/</span>Blog</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->
    <!--::breadcrumb part start::-->


  <!--================Blog Area =================-->
  <section class="blog_area section_padding">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 mb-5 mb-lg-0">
                  <div class="blog_left_sidebar">
                      <article class="blog_item">
                        <div class="blog_item_img">
                            <h4>CSDN</h4>
                            <div id="app">
                                <div class="form-contact comment_form">
                                  <div class="row">
                                    <div class="col-12">
                                      <div class="form-group">
                                        <input class="form-control" type="text" ref="url" placeholder="下载链接">
                                        <span>{{msg}}</span>
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <div class="form-group">
                                        <input class="form-control" type="text" ref="cardpass" placeholder="卡密：">
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <div class="form-group">
                                        <input class="form-control" name="website" id="website" type="text" placeholder="Email(可选)">
                                      </div>
                                    </div>
                                </div>
                                      <div class="form-group">
                                        <button class="button button-contactForm" type="primary" @click="handleDownload">Send Message</button><br>  
                                      </div>
                                </div>
                                <Spin size="large" fix v-if="spinShow"></Spin>
                            </div>
                        </div>
                        <script>
                            var app = new Vue({
                                el: '#app',
                                methods: {
                                    handleDownload() {
                                        this.spinShow=true
                                        if(!this.$refs.url.value||!this.$refs.cardpass.value){
                                            this.$message.error({
                                                message: '卡密或参数不能为空！',
                                                duration: 2000,
                                            });
                                            this.spinShow=false
                                            return ""
                                        }                                        
                                        
                                        axios({
                                            
                                            url: 'http://127.0.0.1:5013/downloadcsdn',
                                            responseType: 'blob',
                                            method: 'post',
                                            data: {"url":this.$refs.url.value,"number":this.$refs.cardpass.value},
                                            
                                            onDownloadProgress: (e) => {
                                                console.log(e)
                                                this.ss='下载进度: ' + (e.loaded / e.total * 100).toFixed(2) + '%'
                                                if (e.lengthComputable) {
                                                    
                                                    console.log('下载进度: ' + (e.loaded / e.total * 100).toFixed(2) + '%')
                                                    this.spinShow=false
                                                    this.$Spin.show({
                                            render: (h) => {
                                                  return h('div', [
                                                    h('Icon', {
                                                        'class': 'demo-spin-icon-load',
                                                        props: {
                                                            type: 'ios-loading',
                                                            size: 18
                                                        }
                                                    }),
                                                    h('div', this.ss)
                                                ])
                                            }
                                        });                                
                    
                                                    
                                                }
                                                
                                            }
                                            
                                        }).then((res) => {
                                            
                                            console.log(res)
                                            let fileName = res.headers['content-disposition']
                                 // 获取文件名
                                        if (fileName && fileName.length >= 2) {
                                            fileName = fileName.split('=')[1]
                                            fileName=decodeURIComponent(escape(fileName))
                                        }
                                            const url = window.URL.createObjectURL(new Blob([res.data]))
                                            const link = document.createElement('a')
                                            link.style.display = 'none'
                                            link.href = url
                                            
                                            link.setAttribute('download', fileName)
                                            document.body.appendChild(link)
                                            link.click()
                                        }).catch(error =>{
                                            if(error.response.status==400){
                                                this.spinShow=false
                                                this.$message.error('卡密错误或已经使用过')
                                            }                                            
                                            return ''
                                        }).finally(() => {
                                            this.$Spin.hide();
                                            this.downloadingText = ''
                                        })
                                    },
                    
                                }
                            })
                        </script>                        
                       </article>
                        <article class="blog_item">
                        <div class="blog_item_img">
                        {% if NAME_CSDN %}
                        <h2>You have downloaded successfully,Thanks for your support</h2> 
                          </a>
                        </div>
                        
                        <div class="blog_details">
                            <a class="d-inline-block" href="/">
                            </a>
                            <ul class="blog-info-link">
                              <li><a href="#"><i class="far fa-user"></i> By, Zero</a></li>
                              <li><a href="#"><i class="far fa-comments"></i></a>{{NAME_CSDN}}</li>
                            </ul>
                        </div>
                        {% endif %}
                      </article>  


                    <!--页面代码-->
                      <nav class="blog-pagination justify-content-center d-flex">
                          <ul class="pagination">
                              <li class="page-item">
                                  <a href="#" class="page-link" aria-label="Previous">
                                      <i class="ti-angle-left"></i>
                                  </a>
                              </li>
                              <li class="page-item">
                                  <a href="#" class="page-link">1</a>
                              </li>
                              <li class="page-item active">
                                  <a href="#" class="page-link">2</a>
                              </li>
                              <li class="page-item">
                                  <a href="#" class="page-link" aria-label="Next">
                                      <i class="ti-angle-right"></i>
                                  </a>
                              </li>
                          </ul>
                      </nav>
                  </div>
              </div>
              <!--右边部分代码-->
              <div class="col-lg-4">
                  <div class="blog_right_sidebar">
 
                      <aside class="single_sidebar_widget tag_cloud_widget">
                          <h4 class="widget_title">Tag Clouds</h4>
                          <ul class="list">
                              <li>
                                  <a href="#">Testnow提取</a>
                              </li>
                              <li>
                                  <a href="#">Csdn下载</a>
                              </li>
                              <li>
                                  <a href="#">Cink下载</a>
                              </li>
                              
                          </ul>
                      </aside>
                      <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">联系方式</h3>
                        <div class="media post_item">
                            <img src="{{url_for('static',filename='images/qq123.jpg')}}" title="QQ交流群">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>QQ交流群</h3>
                                </a>
                                <p>823015160</p>
                            </div>
                        </div>
                        
                    </aside>                      
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--================Blog Area =================-->

<!-- footer part start-->

<!-- footer part end-->

<!-- jquery plugins here-->

<script type="text/javascript" color="19,70,149" pointColor="255,0,0" opacity='0.5' zIndex="-2" count="100" src="{{url_for('static',filename='js/canvas-nest.js')}}"></script>
<!-- jquery -->
<script src="{{url_for('static',filename='js/jquery-1.12.1.min.js')}}"></script><!--menu弹出-->
<!-- popper js -->
<script src="{{url_for('static',filename='js/popper.min.js')}}"></script><!--2-->
<!-- bootstrap js -->
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<!-- aos js -->



</body>

</html>